body {
  margin: 0px;
  border: 2px solid #ccc;
  display: grid;
  grid-template-rows: 2.5fr 7fr 2.5fr 1fr;
  align-content: space-around;
  gap: 20px;
  min-height: 100vh;
}
main {
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: 50px, 1fr, 1fr 1fr 1fr;
  gap: 10px;
  margin: 10px;
}

.box {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  border: solid 1px;
  padding: 20px;
  font-size: 150%;
}

.item1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25px 4fr 1fr 1fr;
  padding: 0%;
}

.item1 #barra_superior {
  height: 25px;
  display: flex;
  background-color: rgb(224, 223, 119);
  margin: 0%;
  justify-content: space-between;
  align-items: top;
}
.derecha {
  margin: 0;
  /* display: flex;
    justify-self: flex-end; */
}
.world {
  padding-top: 12px;
  /* display: flex;
    justify-self: flex-end; */
}

.item1 #header {
  grid-row: 10fr;
}

.titulo {
  width: 100%;
  /* display: flex;
      justify-self: flex-end; */
}
div#logo {
  display: flex;
  size: 20vw;
  height: 20vh;
  justify-content: space-between;
}
#logo img {
  display: flex;
}
i#menu {
  font-size: 50px;
  color: rgb(175, 185, 195);
  padding-right: 16px;
  padding-top: 10px;
}
.fa-address-card {
  font-size: 45px;
}
h1 {
  text-align: center;
  font-size: 25pt;
}

main .perfil {
  margin-top: 0;
  flex-direction: column;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
main .perfil i {
  grid-area: card;
  justify-self: center;
}

i.azul {
  color: rgb(72, 6, 240);
}

i.verde {
  color: rgb(2, 126, 0);
}

i.amarillo {
  color: rgba(255, 234, 0, 0.886);
}

i.lila {
  color: rgba(104, 0, 177, 0.886);
}

table {
  grid-column: 2/4;
  font-size: small;
}

td {
  border: solid 1px;
  text-align: center;
}
div.texto {
  grid-column: 2/4;
}
div.title {
  font-size: medium;
  font-weight: bold;
}

div.subtitle {
  text-align: justify;
  font-size: small;
}

div.icono {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.mapa-saltos {
  max-width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.mapa-saltos h2 {
  font-size: 20pt;
}
img#saltos {
  width: 90%;
}
.mapa-saltos span {
    font-size: medium;
  }